<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interact Early Access Confirmation</title>
  </head>
  <body style="font-family: 'Arial', sans-serif; line-height: 1.6; color: #100f0f; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="max-width: 600px; width: 100%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: left;">
      <div style="background-color: #fff; padding: 10px; border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); text-align: center;">
        <img alt="Interact" height="50" src="cid:logo" crossorigin="anonymous" width="170" style="display: block; margin: 0 auto; background-color: #fff; padding: 10px; border-radius: 8px;" />
      </div>
      <h1 style="color: #333; font-size: 24px; margin-top: 20px;">Welcome to Interact Early Access!</h1>
      <h3 style="margin-bottom: 20px;">Dear {{User.Name}},</h3>
      <p style="margin-bottom: 20px;">
        Thank you for signing up for Interact Early Access! You're just one step away from joining our vibrant community of students.
      </p>
      <p style="margin-bottom: 20px;">
        To complete your signup process and start exploring Interact, click the button below:
      </p>
      <a
        href="https://interactnow.in/signup?email={{ .Email }}&token={{ .Token }}"
        style="width: 50%; max-width: 280px; text-decoration: none; text-align: center; margin: 20px auto; display: block; padding: 10px; border: none; font-weight: bolder; border-radius: 10px; background: #1E88E5; color: #fff;"
      >
        Complete Signup!
      </a>
      <p style="margin-top: 20px; margin-bottom: 20px;">
        <b>This link is valid for 7 days.</b> After that, you'll need to request a new early access token.
      </p>
      <p style="margin-bottom: 20px;">
        If you have any questions or need assistance, feel free to reply to this email.
      </p>
      <div style="margin-top: 20px;">
        <div>Best regards,</div>
        <div>Interact</div>
      </div>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 26px 0;" />
      <p style="font-size: small; color: hsl(214, 7%, 62%);">
        This message was produced and distributed by Interact. If you were not expecting this email, you can ignore it. For any concerns, please contact support.
      </p>
    </div>
  </body>
</html>
