<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One-Time Password (OTP) for Verification | Interact</title>
  </head>
  <body style="color: #333; font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <div style="max-width: 600px; width: 100%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <div style="background-color: #fff; padding: 10px; text-align: center; border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
        <img alt="Interact" height="50" src="cid:logo" crossorigin="anonymous" style="display: block; margin: 0 auto;" width="170" />
      </div>
      <h1 style="color: #333; font-size: 20px; font-weight: 400; text-align: center; margin: 20px 0;">
        Enter the following code to complete your registration.
      </h1>
      <p style="font-size: 14px; line-height: 22px; margin: 0; color: #444; padding: 0 10px; text-align: left;">
        Thank you for signing up with Interact. To complete the registration process and verify your email address, please use the following One-Time Password (OTP):
      </p>
      <div >
        <p style="width: 50%; max-width: 280px; text-decoration: none; text-align: center; margin: 20px auto; display: block; padding: 10px; border: none; font-weight: bolder; border-radius: 10px; background: #1E88E5; color: #fff;">
          {{OTP}}
        </p>
      </div>
      <p style="font-size: 14px; line-height: 22px; margin: 0; color: #444; padding: 0 10px; text-align: left;">
        <b>This OTP is valid for the next 10 minutes.</b>
      </p>
      <p style="font-size: 14px; line-height: 22px; margin: 0; color: #444; padding: 0 10px; text-align: left;">
        Please enter this code on the verification page to verify your email address and activate your account.
      </p>
      <p style="font-size: 14px; line-height: 22px; margin: 0; color: #444; padding: 0 10px; text-align: left;">
        For your security, do not share this OTP with anyone.
      </p>
      <p style="font-size: 14px; line-height: 22px; margin: 0; color: #444; padding: 0 10px; text-align: left;">
        Thank you for joining Interact!
      </p>
      <p style="font-size: 14px; line-height: 22px; margin-top: 20px; color: #444; padding: 0 10px; text-align: left;">
        Best regards,<br />Interact
      </p>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
      <p style="font-size: 12px; line-height: 20px; margin: 0; color: hsl(214, 7%, 62%); padding: 0 10px; text-align: center;">
        If you did not sign up for an account with us, please ignore this email or contact our support team immediately.
      </p>
    </div>
  </body>
</html>
