<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congratulations! Your Application Has Been Accepted | Interact</title>
  </head>
  <body
    style="
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
    <div style="background-color: #fff; padding: 10px; text-align: center;">
      <img src="cid:logo" alt="Interact Logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;" width="170" />
    </div>
      <h1 style="color: #333; text-align: center;">Congratulations!</h1>
      <h3 style="margin-bottom: 20px; text-align: left;">Hello {{User.Name}},</h3>
      <p style="margin-bottom: 20px; text-align: left;">
        We're thrilled to inform you that your application has been accepted! Welcome to the
        Interact community.
      </p>
      <p style="margin-bottom: 20px; text-align: left;">
        Get ready to connect, collaborate, and explore exciting opportunities. We're confident
        you'll be a valuable asset to our platform.
      </p>
      <p style="margin-bottom: 20px; text-align: left;">Here's what you can do next:</p>
      <ul style="margin-bottom: 20px; list-style: disc; padding-left: 15px; text-align: left;">
        <li>
          <b>Explore the platform:</b> Get familiar with the features and functionalities of Interact.
          There's a whole world of possibilities waiting for you!
        </li>
        <li>
          <b>Start connecting:</b> Reach out to other members, build your network, and find your
          perfect collaboration match.
        </li>
        <li>
          <b>Dive into projects:</b> Browse through ongoing projects, contribute your skills, and bring
          your ideas to life.
        </li>
      </ul>
      <p style="margin-bottom: 20px; text-align: left;">
        We're excited to have you on board! If you have any questions or need help getting started,
        don't hesitate to reach out to our support team. They're always happy to assist you.
      </p>
      <div
        style="
          margin: 20px auto;
          text-align: center;
        "
      >
        <a
          href="https://interactnow.in"
          style="
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background: #1e88e5;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
          "
        >
          Explore Now
        </a>
      </div>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
      <p style="font-size: 12px; line-height: 24px; color: hsl(214, 7%, 62%); text-align: center;">
        If you did not sign up for an account with us, please ignore this email or contact our support team immediately.
      </p>
      <div style="margin-top: 20px; text-align: left;">
        <div>Best regards,</div>
        <div>The Interact Team</div>
      </div>
    </div>
  </body>
</html>
