<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Opening Application for {{Opening.Title}} got Rejected</title>
  </head>
  <body
    style="
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      color: #333;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    "
  >
    <div
      style="
        max-width: 720px;
        width: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="background-color: #fff; padding: 10px; text-align: center;">
        <img src="cid:logo" alt="Interact Logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;" width="170" />
      </div>
      <h1 style="color: #333; text-align: center;">Your Application got rejected</h1>
      <h3 style="margin-bottom: 20px; text-align: left;">Hello {{User.Name}},</h3>
      <p style="margin-bottom: 20px; text-align: left;">
        Thank you for applying to the position of <b>{{Opening.Title}}</b> on Interact.
      </p>
      <p style="margin-bottom: 20px; text-align: left;">
        We wanted to inform you that your application was not selected. 
      </p>
      <p style="margin-bottom: 20px; text-align: left;">
        We truly appreciate your interest and effort in applying. Although you were not selected for this role, we encourage you to keep exploring other opportunities on our platform. There are plenty of exciting projects where your skills could be a perfect fit.
      </p>
      <p style="margin-bottom: 20px; text-align: left;">
        If you have any questions or need further assistance, please feel free to reach out to our support team. We're here to help!
      </p>
      <div
        style="
          margin: 20px auto;
          text-align: center;
        "
      >
        <a
          href="https://interactnow.in/explore"
          style="
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background: #1e88e5;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
          "
        >
          Browse Other Opportunities
        </a>
      </div>
      <div style="margin-top: 20px; text-align: left;">
        <div>Best regards,</div>
        <div>The Interact Team</div>
      </div>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
      <p style="font-size: 12px; line-height: 24px; color: hsl(214, 7%, 62%); text-align: center;">
        If you did not apply for this position or believe this message was sent in error, please contact our support team immediately.
      </p>
    </div>
  </body>
</html>
