<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Group Chat Invitation | Interact</title>
</head>
<body style="font-family: 'Arial', sans-serif; line-height: 1.6; color: #333; background-color: #f4f4f4; margin: 0; padding: 48px;">
    <div style="max-width: 720px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="color: #333;">You've Been Invited to a Group Chat!</h1>
        <h3 style="margin-bottom: 20px;">Hello {{User.Name}},</h3>
        <p style="margin-bottom: 20px;">You've been invited to join a new group chat on Interact! Get ready to connect with multiple people and have engaging conversations.</p>
        <p style="margin-bottom: 20px;">The group chat is named:<strong> {{GroupChat.title}}</strong></p>
        <p style="margin-bottom: 20px;">{{GroupChat.description}}</p>
        <p style="margin-bottom: 20px;">{{SecondaryUser.Name}}  has invited you to join this chat.</p>
        <p style="margin-bottom: 20px;">Don't miss out on the opportunity to collaborate and discuss within this group. Join now!</p>
        <p style="margin-bottom: 20px;">If you have any questions or need assistance, feel free to reply to this email.</p>
        <div style="margin-top: 20px;">
            <div>Best regards,</div>
            <div>Interact</div>
        </div>
    </div>
</body>
</html>
