<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Meeting Scheduled | Interact</title>
  </head>
  <body style="background-color: #f4f4f4; color: #333; font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 20px;">
    <div style="max-width: 720px; width: 100%; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <div style="background-color: #fff; padding: 10px; text-align: center;">
        <img src="cid:logo" alt="Interact Logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;" width="170" />
      </div>
      <div style="background-color: #fff; padding: 10px; text-align: center;">
        <img src="cid:logo" crossorigin="anonymous" alt="Interact" width="170" height="50" style="display: block; margin: 0 auto;" />
      </div>
      <div style="padding: 25px 35px;">
        <h1 style="color: #333; font-size: 24px; font-weight: 400; text-align: center; margin: 30px 0;">
          Meeting Scheduled
        </h1>
        <h3 style="text-align: left;">Hello {{User.Name}},</h3>
        <p style="text-align: left;">
          We are pleased to inform you that a new meeting has been scheduled. Please find the meeting details below:
        </p>
        <p style="text-align: left;">
          <strong>Meeting Title:</strong> {{Meeting.Title}}<br />
          <strong>Description:</strong> {{Meeting.Description}}<br />
          <strong>Time:</strong> {{Meeting.Time}}<br />
          <strong>Frequency:</strong> {{Meeting.Frequency}}<br />
          <strong>Organization:</strong> {{Meeting.Organization.Name}}
        </p>
        <p style="text-align: left;">
          Please ensure that you join the meeting on time. You can view and manage this meeting by logging into your Interact account or you can directly go to the meeting page by clicking on the button below!
        </p>
        <a
          href="{{Meeting.URL}}"
          style="
            display: block;
            max-width: 100%;
            width: 200px;
            margin: 20px auto;
            background-color: #478ee1;
            border-radius: 3px;
            font-weight: 600;
            color: #fff;
            font-size: 15px;
            text-align: center;
            padding: 11px 23px;
            text-decoration: none;
          "
          target="_blank"
        >
          Join the Meeting!
        </a>
        <p style="text-align: left;">Best regards,</p>
        <p style="text-align: left;">The Interact Team</p>
      </div>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
      <p style="font-size: 12px; line-height: 24px; color: hsl(214, 7%, 62%); text-align: center;">
        If you did not sign up for an account with us, please ignore this email or contact our support team immediately.
      </p>
    </div>
  </body>
</html>
