<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Activities | Interact</title>
  </head>
  <body style="font-family: 'Arial', sans-serif; line-height: 1.6; color: #333; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="max-width: 720px; width: 100%; margin: 0 auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
      <div style="background-color: #fff; padding: 10px; text-align: center;">
        <img src="cid:logo" alt="Interact Logo" style="display: block; margin: 0 auto; max-width: 100%; height: auto;" width="170" />
      </div>
      <h1 style="color: #333; font-size: 24px; text-align: left;">New Activities</h1>
      <h3 style="margin-bottom: 20px; text-align: left;">Hello {{User.Name}},</h3>
      <p style="margin-bottom: 20px; text-align: left;">You are missing out on some new activities</p>
      <p style="margin-bottom: 20px; text-align: left;">Don't miss out on exciting collaborations and discussions. Head to your inbox now!</p>
      <p style="margin-bottom: 20px; text-align: left;">If you have any questions or need assistance, feel free to reply to this email.</p>
      <div style="text-align: center; margin: 20px 0;">
        <a href="https://interactnow.in/explore" style="display: inline-block; text-decoration: none; color: #fff; background-color: #1e88e5; padding: 10px 20px; border-radius: 5px; font-weight: bold; font-size: 16px; text-align: center; width: 100%; max-width: 300px;">
          View Activities
        </a>
      </div>
      <div style="margin-top: 20px; text-align: left;">
        <div>Best regards,</div>
        <div>Interact</div>
      </div>
      <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
      <p style="font-size: 12px; line-height: 24px; color: hsl(214, 7%, 62%); text-align: center;">
        If you did not sign up for an account with us, please ignore this email or contact our support team immediately.
      </p>
    </div>
  </body>
</html>
