<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Due Today | Interact</title>
  </head>
  <body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333; background-color: #f4f4f4; margin: 0; padding: 20px;">
    <div style="max-width: 720px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px;">
      <div style="background-color: #fff; padding: 10px; text-align: center;">
        <img src="cid:logo" alt="Interact" width="170" height="50" style="display: block; margin: 0 auto;" />
      </div>
      <h1 style="color: #333; font-size: 24px; margin-bottom: 20px;">Task Due Today</h1>
      <h3 style="margin-bottom: 20px; font-size: 18px;">Hello {{User.Name}},</h3>
      <p style="margin-bottom: 20px; font-size: 16px;">
        This is a reminder that you have a task due today on Interact. Please find the task details below:
      </p>
      <p style="margin-bottom: 20px; font-size: 16px;">
        <strong>Task Title:</strong> {{Task.Title}}<br />
        <strong>Description:</strong> {{Task.Description}}<br />
      </p>
      <p style="margin-bottom: 20px; font-size: 16px;">
        Please ensure that you review and complete this task by the end of the day. You can view and manage this task by logging into your Interact account or by clicking the button below:
      </p>
      <a href="https://interactnow.in/organisation/tasks" style="line-height: 100%; display: block; max-width: 100%; background: #1e88e5; border-radius: 3px; font-weight: 600; color: #fff; font-size: 15px; text-align: center; padding: 11px 23px; margin: auto; text-decoration: none;" target="_blank">
        <span style="max-width: 100%; display: inline-block; line-height: 120%;">View Task</span>
      </a>
      <div style="margin-top: 20px">
        <div>Best regards,</div>
        <div>The Interact Team</div>
        <hr style="width: 100%; border: none; border-top: 1px solid #eaeaea; margin: 20px 0;" />
        <p style="font-size: 12px; line-height: 24px; color: hsl(214, 7%, 62%); text-align: center;">
          If you did not apply for this position or believe this message was sent in error, please contact our support team immediately.
        </p>
    </div>
  </body>
</html>
