<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Meeting Due Today Reminder | Interact</title>
  </head>
  <body style="background-color: #f4f4f4; color: #333; font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div style="max-width: 600px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%;">
      <div style="text-align: center; margin-bottom: 32px;">
        <img src="cid:logo" alt="Interact" width="170" height="50" style="display: block; margin: 0 auto;" />
      </div>
      <div style="padding: 15px; box-sizing: border-box;">
        <h1 style="color: #333; font-size: 22px; font-weight: 400; text-align: center; margin: 20px 0;">Meeting Due Today</h1>
        <h3 style="margin-bottom: 15px;">Hello {{User.Name}},</h3>
        <p style="margin-bottom: 15px;">This is a reminder that you have a meeting scheduled for today on Interact. Please find the meeting details below:</p>
        <p style="margin-bottom: 15px;">
          <strong>Meeting Title:</strong> {{Meeting.Title}}<br />
          <strong>Description:</strong> {{Meeting.Description}}<br />
          <strong>Time:</strong> {{Meeting.Time}}<br />
          <strong>Frequency:</strong> {{Meeting.Frequency}}<br />
          <strong>Organization:</strong> {{Meeting.Organization.Name}}
        </p>
        <p style="margin-bottom: 15px;">
          Please ensure that you join the meeting on time. You can view and manage this meeting by logging into your Interact account, or you can directly go to the meeting page by clicking on the button below!
        </p>
        <div style="text-align: center; margin: 20px 0;">
          <a href="https://interactnow.in/organisation/meetings" style="background-color: #1e88e5; border-radius: 3px; font-weight: 600; color: #fff; font-size: 15px; text-align: center; padding: 10px 20px; text-decoration: none; display: inline-block;">
            Join the Meeting!
          </a>
        </div>
        <p style="margin-bottom: 0;">Best regards,<br />The Interact Team</p>
      </div>
      <div style="text-align: center; border-top: 1px solid #eaeaea; padding-top: 20px; margin-top: 20px;">
        <p style="font-size: 12px; line-height: 18px; color: hsl(214, 7%, 62%); margin: 0;">
          This message was produced and distributed by Interact. If you were not expecting this email, you can ignore it. For any concerns, please contact support.
        </p>
      </div>
    </div>
  </body>
</html>
